body {
    height: 100vh;
    margin: 0;
    /* background: linear-gradient(to right, #1e1e2f, #2d2d44, #3c3c5c);  */
    background: linear-gradient(to right, #2c003e, #3c1053, #5f0f40);


    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  
.container{
display: flex;
justify-content: center;

}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 5px solid white;
    margin: 1rem;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: aliceblue;
}
.userflash{
    background-color: greenyellow;
}